* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-button {
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  outline: none;
}

.Modal-button:hover {
  background-color: #d9ccc1;
}

.modal-window {
  background-color: #fff;
  padding: 1.5rem;
  margin: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 2;
  max-width: 700px;
  position: absolute;
}

h3 {
  width: 100%;
  margin-bottom: 0.6rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 0;
}

.close-modal {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  body {
    align-items: flex-start;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }

  .hidden {
    display: none;
  }
}
